*{
  /* border:black 1px solid; */
}

.logo{
    /* height:40vmin; */
    /* width:40vmin; */
    /* border: black 1px solid; */
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}

.logoHomeGive{
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.logoHomeText{
    width:400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.personInfo{
  width:400px;
  text-align: center;
  /* border:black 1px solid; */
  margin: auto;
  width: 100%;
}


.homeContainer{
    /* border:black 1px solid; */
    margin: auto;
}

.homeContainerText{
    max-width: 400px;
    margin: auto;
  width: 50%;
}

  /* .mainContainerText {
    border:black 1px solid;
    text-align: "center";
    max-width: 400px;
    margin: auto;
    width: 50%;
 } */