.logo{
    /* height:40vmin; */
    /* width:40vmin; */
    /* border: black 1px solid; */
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}

.logoHomeGive{
    width:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.logoHomeText{
    width:400px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.homeContainer{
    /* border:black 1px solid; */
    margin: auto;
}

.homeContainerText{
    max-width: 400px;
    margin: auto;
  width: 50%;
}

